form {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    border: 1px solid var(--dark);
    border-radius: 20px;
    padding: 24px;
    background: var(--dark);

    h1 {
        color: var(--tertiary-contrast) !important;
        margin-bottom: 12px;
    }

    label {
        margin-top: 8px;
        font-size: 16px;
        font-weight: bold;
        color: var(--light);
        letter-spacing: 3px;
    }

    input,
    select,
    textarea {
        width: 100%;
        margin: 2px;
        border: 1px solid var(--light);
        color: var(--dark) !important;
        padding: 8px;

        height: 48px;
        border-radius: 5px;
    }

    select[multiple]{
        height: auto;
    }

    textarea {
        height: auto;
    }

    input[type="button"] {
        padding: 8px;
        height: 64px;
        border-radius: 15px;
        margin-top: 32px;

        &:hover:not(:disabled) {
            background: var(--primary);
            color: var(--primary-contrast);
            cursor: pointer;
        }
    }

    a {
        margin: 12px 0;
    }
}